{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-3">Nos services</h1>
    <div class=" ">{% include 'service/service-list.html.twig'%}
    </div>
</div>
{% endblock %}