{% extends 'base.html.twig' %}

{% block title %}Avis clients{% endblock %}

{% block body %}

<div class="container">
    <div class="justify-content-start mb-5 ">{% include 'review/review-list.html.twig' %}
    </div>
</div>
{% endblock %}